$font: 'Open Sans Condensed', sans-serif;
$back: #FBFBFF;
$fontcolor: #19323C;

body{
  background:$back;
  color:$fontcolor;
  font-family: $font;
}

div.upblur{
  display:block;
  height:15%;
  width:100%;
  background:linear-gradient(0deg, fade-out($back, 0.95), $back 70%);
  position:fixed;
  top: 0%;
  opacity: 1;
  pointer-events:none;
  visibility: hidden;
}

div.blurfoot{
  display:block;
  height:18%;
  width:100%;
  background:linear-gradient(0deg, $back 30%, fade-out($back, 0.95));
  position:fixed;
  bottom: 0%;
  opacity: 1;
  pointer-events:none;
}

.header{
  font-weight: 700;
  text-align: center;
  font-size: 1.6em;
}

.poem{
  position: relative;
  display:block;
  text-align: center;
  padding:0;
  margin:0 auto;
  font-size: 1.4em;
  padding-bottom: 10%;
  & p.poemline{
    display:block;
    text-align:center;
    & span.innertext{
      display:inline-block;
      &:hover{
        background:#C1C1FF;
      }
    }
  }
}

p:last-child{
  margin-bottom: 20px;
}

.errortext{
  padding: 0;
  margin: 0;
}

span.authorname{
  border-bottom: solid fade-out($fontcolor, 0.3) 2px;
  color: fade-out($fontcolor, 0.3);
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover{
    color:$fontcolor;
  }
}